<h1>Stupid Coach</h1>
<div style = "border-left: 6px solid gray" >
  <h2> Student question</h2>
  <h3> --<%=  @question %></h3>
</div>

<div style = "border-left: 6px solid green" >
  <h2> Coach answer</h2>
  <h3> --<%=  @answer %></h3>
</div>

<%= link_to "Ask another question", ask_path %>
