<form  class="form-inline" action="/answer" method="get" data-turbo="false">
  <div class="form-group mx-sm-3 ">
    <input type="text" name="the_question">
    <button type="submit" class="btn btn-primary mb-2">Ask!</button>
  </div>
</form>
